@import "../variables";

.logged_out_banner {
    height: 4em;
    width: 100%;
    background:linear-gradient(#9c129e, #630664);
    color: white;
}
.logged_out_content{
    width: 80%;
    height: 90%;
    margin: 0 auto;
    color: white;
    
}
.logged_out_content h1 {
    display: inline-block;
}
.logo{
    // color: white;
    font-size: 3em;
    float: right;
    color: transparent !important;
    background: $logoBackground;
    background-size: cover;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
}

.link{
    color: white;
    text-decoration: none;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    margin-left: 2em;
    font-size: 12px;
}
.link :hover {
    background: #630664;
}

// .register{

//     margin-right: 600%;

//     @media screen and (max-width: 450px) {
//         margin-right: 200%;
//       }

// }