@import "../variables";

.paginatorContianer{
    position: relative;
    // margin: 0 auto;
    left: 45%;
    span{
        font-size: 5em;
        // color: blue;
        color: $ternaryTextTheme;
        text-shadow: 0 2px 150px rgba(grey, 0.8);
    }

    .arrow{
        cursor: pointer;
        // font-size: 5em;
        // color: blue;
        // color: $ternaryTextTheme;
        // text-shadow: 0 2px 5px rgba(grey, 0.8);
    }

    .chevron{
        position: fixed;
        cursor: pointer;
        left: 90%;
        top: 90%;
    }
}