.panelParent{
    div{
        h1{
            display: inline;
        }
    }
}

.imgThumb{
    width: 6em;
    height: auto;
    border-radius: 100px;
}

.panelContainer{
    margin: 1em 10em;
}
.postDiv{
    color: #f5f5f5;
    background-color: #181818;
    padding: 1em;
    margin: 0 auto;
}