.position{
    position: fixed;
    bottom: 0;
    right: 0;
}
.menu {
    background-color: #181818;
}
.friendList{
    position: relative;
    width: 20em;
    padding-left: none;
}
.friendsButton{
    width: 18em;
    background:linear-gradient(#9c129e, #630664);
    border: none;
    color: white;
}
.nobullet{
    list-style-type: none;
}
.friendname {
    display: inline-block;
    font-size: 1.2em;
    padding-left: 1em;
}
.list{
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    border-left: none;
    border-right: none;
}