h1 label{
    color: white;
}
.loginBody{
    text-align: center;
    margin: 0 auto;
    padding: 15em;
}
.loginBody input{
    width: 20%;
    margin: 0 auto;
}

.bg{
    position: absolute;
    top: 0%;
    height: 100%;
    width: 100%;
    z-index: -1;
}